@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h2 {font-family: 'Open Sans', sans-serif;
    color: rgb(0, 128, 0);
    font-size: 40px;
  }

li {font-family: 'Open Sans', sans-serif;
    color: rgb(0, 128, 0);
    font-size: 20px;
  }

  .error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }